p{
    color: crimson;
}
.text1{
    color: darkblue;
}
.text2{
    color: chartreuse;
}
.text3{
    color: deeppink;
}
img{
    width: 400px;
    border-radius: 50px 20px 10px 5px;
}
div{
    margin: 100px 0px 0px 0px;
}

/* Header */

.header{
    background-color:green;

    max-width: 800px;
    margin: 0 auto;
}

/* First Screen */

.first-screen{
    background-color: darkmagenta;

    max-width: 800px;
    margin: 0 auto;
}

/* Resume */

.skills{
    background-color: darkorange;

    max-width: 800px;
    margin: 0 auto;
}

/* Resume */

.resume{
    background-color: greenyellow;

    max-width: 800px;
    margin: 0 auto;
}

/* Works */

.works{
    background-color: mediumvioletred;

    max-width: 800px;
    margin: 0 auto;
}

/*  Contacts */

.contacts{
    color: brown;

    background-color: mediumblue;

max-width: 800px;
margin: 0 auto;
}