

/* reset styles */
*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

/* 
color text main - #fff
color text decor - #4f93e5
background color one - #252527
background color two - #1f1f20
*/

/* base styles */

body{
    font-family: 'Josefin Sans', sans-serif;
}


.container{
    max-width: 800px;
    margin: 0 auto;
}


p{
    color: crimson;
}
.text1{
    color: darkblue;
}
.text2{
    color: chartreuse;
}
.text3{
    color: deeppink;
}
img{
    width: 400px;
    border-radius: 50px 20px 10px 5px;
}

/* Header */
.header{
    background-color: #252527;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Header menu */
.header-menu{
    list-style: none;
    display: flex;
    gap: 30px;
}


.header-menu__link{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.header-menu__link:hover {
    color: #4f93e5;
    transition: 300ms;
}



/* First Screen */

.first-screen{
    background-color: #252527;
}


/* Skills */
.skills{
    background-color: #1f1f20;
    padding-top: 20px;
    padding-bottom: 20px;
}

.skills__title{
    text-align: center;
}



/* Resume */

.resume{
    background-color: #252527;

    
}

/* Works */

.works{
    background-color: #1f1f20;

    
}

/*  Contacts */

.contacts{
    color: brown;

    background-color: #252527; 


}